<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="app" source="spring.application.name"/>
    <springProperty scope="context" name="profile" source="spring.profiles"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
        <!--            <customFields>{"app":"${app}"}</customFields>-->
        <!--        </encoder>-->
        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>220.88.46.130:15000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"index":"${app}-${profile}"}</customFields>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOG_STASH"/>
        </root>
    </springProfile>

    <logger name="MESSAGE_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_STASH"/>
    </logger>

    <logger name="JOB_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_STASH"/>
    </logger>

    <logger name="ALARM_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_STASH"/>
    </logger>

    <logger name="CLIENT_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_STASH"/>
    </logger>

    <logger name="DEBUG_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>

